body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0px;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}    
    
h2 {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #68696d;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 0;
    width: 100%;
}